<div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card class="card">
        <mat-card-content>
            <div fxLayout="row">
                <img src="../../../../assets/card-patient.png" width="84px" height="84px">
                <span> {{ patient.length }} </span>
            </div>
            <mat-card-subtitle class="sub-card">Pacientes</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content>
            <div fxLayout="row">
                <img src="../../../../assets/card-consult.png" width="84px" height="84px">
                <span> {{ consult.length }} </span>
            </div>
            <mat-card-subtitle class="sub-card">Consulta</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content>
            <div fxLayout="row">
                <img src="../../../../assets/card-exam.png" width="84px" height="84px">
                <span> {{ exam.length }} </span>
            </div>
            <mat-card-subtitle class="sub-card">Exames</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>