<div fxLayout="row">
    <mat-form-field class="search" appearance="fill">
        <mat-label>Pesquisar</mat-label>
        <input matInput placeholder="Pesquisar" [(ngModel)]="inputSearch">
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="search(inputSearch)">Buscar</button>
</div>

<div fxLayout="row wrap" fxLayoutAlign="space-between left">

    <mat-card class="card-patient" *ngFor="let patient of patients">

        <mat-card-content>
            <img src="../../../../assets/patient.png" width="98px" height="98px">
            <mat-card-title class="space">{{ patient.nome }}</mat-card-title>
            <mat-card-subtitle class="space">{{ getAge(patient.dtaNascimento) }} anos</mat-card-subtitle>
            <mat-card-title class="space">{{ patient.telefone }}</mat-card-title>

            <mat-card-title class="convenio space">{{ patient.convenio? patient.convenio : "Sem Plano"
                }}</mat-card-title>

            <mat-card-footer class="space"><a [routerLink]="['patient/edit',patient.id]">Ver Mais</a></mat-card-footer>
        </mat-card-content>
    </mat-card>

</div>