<div fxLayout="row wrap" fxLayoutAlign="space-between left">
    <mat-card class="card-patient" *ngFor="let patient of patients">
        <mat-card-content>
            <img src="../../../../assets/patient.png" width="98px" height="98px">
            <mat-card-title>{{ patient.nome }}</mat-card-title>
            <mat-card-subtitle>{{ "idade" }}</mat-card-subtitle>
            <mat-card-title>{{ patient.telefone }}</mat-card-title>

            <mat-card-title>{{ patient.convenio }}</mat-card-title>

            <mat-card-footer><a [routerLink]="['patient/edit',patient.id]">Ver Mais</a></mat-card-footer>
        </mat-card-content>
    </mat-card>

</div>