.card-patient {
  margin-top: 30px;
  width: 30%;
  text-align: center;
  height: 300px;
  margin-top: 30px;
}

.convenio {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  color: #003478;
}

.space {
  margin-top: 10px;
}

.search {
  width: 100%;
}
