<div class="container" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="60%" fxFlex.sm="50%" fxFlex.xs="90%">

        <mat-card>
            <mat-card-content>
                <mat-card-title>
                    Cadastro de Usuário Novo
                </mat-card-title>
                <form [formGroup]="formUser" (ngSubmit)="onSubmit()">

                    <mat-form-field appearance="fill">
                        <mat-label>Nome Completo</mat-label>
                        <input matInput placeholder="Nome Completo" formControlName="nome">
                    </mat-form-field>


                    <mat-form-field appearance="fill">
                        <mat-label>E-Mail</mat-label>
                        <input matInput placeholder="E-Mail" formControlName="email">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Senha</mat-label>
                        <input matInput placeholder="Senha" formControlName="senha">
                    </mat-form-field>
                    <div fxLayoutAlign="center center">
                        <button mat-raised-button color="primary" type="submit">Cadastrar</button>
                        <button mat-raised-button color="accent" mat-dialog-close>Sair</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>