<div class="container fadein" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <h4>Preencha os campos para cadastrar</h4>
            <mat-card-content>
                <div>
                    <h2>Identificação</h2>
                </div>
                <form [formGroup]="formPatient" (ngSubmit)="onSubmit()">

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Nome Completo</mat-label>
                        <input matInput placeholder="Nome Completo" formControlName="nome">
                        <mat-error>Nome é Campo <strong>Obrigatório</strong> com no minimo 8 Caracteres e no máximo
                            64</mat-error>
                    </mat-form-field>

                    <mat-form-field class="select" appearance="fill">
                        <mat-label>Genero</mat-label>
                        <mat-select formControlName="genero">
                            <mat-option *ngFor=" let genero of GENEROS " [value]="genero.genero">
                                {{genero.descricao}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Gênero é <strong>Obrigatório</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="select" appearance="fill">
                        <mat-label>Data de nascimento</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dtaNascimento">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>Data de Nascimento é <strong>Obrigatório</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Cpf</mat-label>
                        <input matInput placeholder="Cpf" formControlName="nroCpf" mask="000.000.000-00">
                        <mat-error>Cpf é <strong>Obrigatório</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Rg</mat-label>
                        <input matInput placeholder="Rg" formControlName="nroRg">
                        <mat-error>Rg é <strong>Obrigatório</strong> com no máximo 20 caracteres</mat-error>
                    </mat-form-field>

                    <mat-form-field class="select" appearance="fill">
                        <mat-label>Estado Civil</mat-label>
                        <mat-select formControlName="estadoCivil">
                            <mat-option *ngFor=" let estcivil of ESTADOCIVIL " [value]="estcivil.estcivil">
                                {{estcivil.descricao}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Estado Civil é <strong>Obrigatório</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Telefone</mat-label>
                        <input matInput placeholder="Telefone" formControlName="telefone"
                            mask="(00) 0 0000-0000 || (00) 0000-0000 ">
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>E-Mail</mat-label>
                        <input matInput placeholder="E-Mail" formControlName="email" type="email">
                        <mat-error>E-Mail está <strong>incorreto</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Naturalidade</mat-label>
                        <input matInput placeholder="Naturalidade" formControlName="naturalidade">
                        <mat-error>Naturalidade é Campo <strong>Obrigatório</strong> com no minimo 8 Caracteres e no
                            máximo
                            64</mat-error>
                    </mat-form-field>

                    <div>
                        <h5>Convênio</h5>
                    </div>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Convênio</mat-label>
                        <input matInput placeholder="Convênio" formControlName="convenio">
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Numero da Carteira</mat-label>
                        <input matInput placeholder="Numero da Carteira" formControlName="nroCarteira">
                    </mat-form-field>

                    <mat-form-field class="select" appearance="fill">
                        <mat-label>Validade</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="dtaValidade">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <div>
                        <h5>Dados Endereço</h5>
                    </div>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Cep</mat-label>
                        <input matInput placeholder="Cep" formControlName="cep" [(ngModel)]="inputCep">
                        <mat-error>Cep é Campo <strong>Obrigatório</strong></mat-error>
                    </mat-form-field>

                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                        type="button" (click)="retornoCep()">
                        <mat-icon>explore</mat-icon>
                    </button>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Cidade</mat-label>
                        <input matInput placeholder="Cidade" formControlName="cidade">
                        <mat-error>Cidade é Campo <strong>Obrigatório</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Estado</mat-label>
                        <input matInput placeholder="Estado" formControlName="estado">
                        <mat-error>Estado é Campo <strong>Obrigatório</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Logradouro</mat-label>
                        <input matInput placeholder="Logradouro" formControlName="logradouro">
                        <mat-error>Logradouro é Campo <strong>Obrigatório</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Número</mat-label>
                        <input matInput placeholder="Número" formControlName="numero">
                        <mat-error>Número é Campo <strong>Obrigatório</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Complemento</mat-label>
                        <input matInput placeholder="Complemento" formControlName="complemento">
                        <mat-error>Complemento é Campo <strong>Obrigatório</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Bairro</mat-label>
                        <input matInput placeholder="Bairro" formControlName="bairro">
                        <mat-error>Bairro é Campo <strong>Obrigatório</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="edit" appearance="fill">
                        <mat-label>Ponto de Referência</mat-label>
                        <input matInput placeholder="Ponto de Referência" formControlName="pontoReferencia">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" type="submit">{{
                            patientId?"Alterar":"Salvar"}}</button>

                        <button mat-raised-button color="warn" [disabled]="!patientId"
                            (click)="deletePatient(patientId)">Deletar</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>